RewriteEngine on 
RewriteBase / 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^admin/index.php(.+)$  /admin/index.php?module=$1 [L]
RewriteRule (.+)  index.php?seo=$1  [L]